@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .footer__logo {
        height: 37px;
    }
    
    /* .love__block {
        flex-direction: column;
        align-items: center;
    }
    
    .love__slider-img {
    height: 410px;
    } */

}